:root {
  --clr-primary: 201 100% 14%;
  --clr-accent: 0 69% 50%;

  --clr-board: 51 55% 82%;
  --clr-player-one: 40 97% 64%;
  --clr-player-two: 31 100% 48%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(var(--clr-primary));
}

/* Header */

header {
  width: 100%;
  display: flex;
  justify-content: center;
  background: hsl(var(--clr-accent));
  box-shadow: 0 1px 0 1px hsla(0, 0, 0, 0.3), 0 5px 10px 0 hsla(0, 0, 0, 0.15);
}

.game-title {
  font-size: clamp(1rem, calc(2vw + 1rem), 2rem);
  letter-spacing: 0.3em;
  color: hsl(var(--clr-board));
}

/* Layout */

.container {
  width: min(90%, 800px);
  margin: 0 auto;
}

.game {
  margin: 1em 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'player1 player2'
    'game-controls game-controls'
    'display-info display-info'
    'gameboard gameboard'
    'computer-controls computer-controls';
}

.game > * {
  /* border: 2px solid hsl(var(--clr-board)); */
}

.game-controls {
  grid-area: game-controls;
}

.player1-meta {
  grid-area: player1;
}

.player2-meta {
  grid-area: player2;
}

.gameboard-container {
  grid-area: gameboard;
}

.computer-controls {
  grid-area: computer-controls;
}

.info-display {
  grid-area: display-info;
}

/* Players */

.player1-meta input,
.player2-meta input {
  width: 100%;
  font-size: 1.3rem;
  padding: 0.25em 0.5em;
  background: transparent;
  border: 0;

  text-align: center;
}

.player1-meta input {
  color: hsl(var(--clr-player-one));
}
.player2-meta input {
  color: hsl(var(--clr-player-two));
}

.player1-meta input:focus {
  color: #000;
  background-color: hsl(var(--clr-player-one));
}

.player2-meta input:focus {
  color: #000;
  background-color: hsl(var(--clr-player-two));
}

/* Game Controls */

.game-controls {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.restart-btn {
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  color: #fff;
  background-color: red;
  border: 0;
  border-radius: 5px;
  padding: 0.25em 0.75em;
  margin: 0 auto;
}

.player-btns {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

.player-btns button {
  font-size: 1.2rem;
  padding: 0.25em 0.75em;
  border: 0;
}

.player-btn {
  border-radius: 2px 0 0 2px;
}

.computer-btn {
  border-radius: 0 2px 2px 0;
}

.player-btns .selected {
  background-color: hsl(var(--clr-player-two));
  border: 1px solid hsl(var(--clr-player-one));
}
/* display  info */

.info-display {
  font-size: 1;
  text-align: center;
  color: hsl(var(--clr-accent));
  border-radius: 20px;
  border: 1px solid hsl(var(--clr-board));
  background: hsl(var(--clr-board));
}

/* gameboard */

.gameboard-container {
  width: 100%;
  aspect-ratio: 1;
}

.gameboard-container canvas {
  display: block;
  width: 100%;
}
