:root {
  --clr-primary: 201 100% 14%;
  --clr-accent: 0 69% 50%;

  --clr-board: 51 55% 82%;
  --clr-player-one: 40 97% 64%;
  --clr-player-two: 31 100% 48%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(var(--clr-primary));
}

/* Header */

header {
  width: 100%;
  display: flex;
  justify-content: center;
  background: hsl(var(--clr-accent));
  box-shadow: 0 1px 0 1px hsla(0, 0, 0, 0.3), 0 5px 10px 0 hsla(0, 0, 0, 0.15);
}

.game-title {
  font-size: clamp(1rem, calc(2vw + 1rem), 2rem);
  letter-spacing: 0.3em;
  color: hsl(var(--clr-board));
}

/* Layout */

.container {
  width: min(90%, 1200px);
  margin: 0 auto;
}

.game {
  margin: 1em 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'player1 player2'
    'gameboard gameboard'
    'controls controls';
}

.game > * {
  border: 2px solid hsl(var(--clr-board));
}

.player1-meta {
  grid-area: player1;
}

.player2-meta {
  grid-area: player2;
}

.gameboard-container {
  grid-area: gameboard;
}

.computer-controls {
  grid-area: controls;
}

/* Styling gameboard */

.gameboard-container {
  width: 100%;
  aspect-ratio: 1;
}

.gameboard-container canvas {
  display: block;
  width: 100%;
}
